html {
    font-size: 14px;
}

p.purple { 
    color: rgb(12, 9, 4);
    font-size: 18px;
}
p.orange { 
    color: rgb(12, 9, 4);
    font-size: 18px;
}
p.yellow { 
    color: rgb(12, 9, 4);
    font-size: 18px;
}
h1{ 
    font-size: 24px;
    text-align: center;
}
h2{
  
    font-size: 20px;
}
ul {list-style-type: square;
    list-style-position: inside;
    font-size: 18px;
}
#large-header{
    font-size: 30px;
    

}

a:hover{
    font-weight: bold;
}

#name{
    font-size: 40px;
    text-align: center;
   
}
#letseat{
    color: red
}

