html {
    font-size: 18px;
}

p.purple { 
    color: rgb(12, 9, 4);
    font-size: 18px;
}
p.orange { 
    color: rgb(12, 9, 4);
    font-size: 18px;
}
p.yellow { 
    color: rgb(12, 9, 4);
    font-size: 18px;
}
h1{ 
    font-size: 24px;
    text-align: center;
}
h2{
  
    font-size: 20px;
}
ul {list-style-type: square;
    list-style-position: inside;
    font-size: 18px;
}
#large-header{
    font-size: 30px;
    

}

a:hover{
    font-weight: bold;
}

#name{
    font-size: 40px;
    text-align: center;
   
}
#letseat{
    color: red
}

li {
    display: inline;
  }

  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  div {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 80px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
